.container{
  margin: 0px;
  padding: 0px;
  width:50%;
}

.brand-logo{
  margin-left:10px;  
}

footer{
  padding: 10px; 
}

.company{
  color: yellow;
}
.card{
	
	
	border: 5px solid green;
	
	   
}
body{
	background:url(../img/back.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;

}

